.Dashboard h1 {
  font-weight: bold !important;
  text-shadow: 4px 2px 1px #111;
}

.Dashboard p {
  text-shadow: 1px 2px 1px #111;
}

.btn-dashboard {
  padding: 1rem 2rem !important;
  color: #333;
  border-radius: .25em;
  box-shadow: 2px 2px 1px #111;
  box-shadow: 4px 4px 1px #111;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.Dashboard a:hover {
  box-shadow: none;
  border-radius: 0;
}

.Dashboard .jumbotron {
  background-image: url('../../images/img-1.jpg');
  background-size: cover;
  background-position: right;
  padding-top: 8rem;
  padding-bottom: 8rem;
}